In [162]:
import pandas as pd
import os
import datetime
from datetime import datetime

pasta = r"C:\git\analise-hospitalar\Datasets"

# Dicion√°rio com nomes personalizados para os arquivos
arquivos = {
    'pacientes': 'patients.csv',
    'medicos': 'doctors.csv',
    'consultas': 'appointments.csv',
    'tratamentos': 'treatments.csv',
    'faturamento': 'billing.csv'
}

In [175]:
# Leitura dos arquivos CSV
for nome, nome_arquivo in arquivos.items():
    caminho_arquivo = os.path.join(pasta, nome_arquivo)
    globals()[nome] = pd.read_csv(caminho_arquivo)

In [172]:
display(pacientes.head()) # type: ignore

,patient_id,first_name,last_name,gender,date_of_birth,contact_number,address,registration_date,insurance_provider,insurance_number,email
0,P001,David,Williams,F,1955-06-04,6939585183,789 Pine Rd,2022-06-23,WellnessCorp,INS840674,david.williams@mail.com
1,P002,Emily,Smith,F,1984-10-12,8228188767,321 Maple Dr,2022-01-15,PulseSecure,INS354079,emily.smith@mail.com
2,P003,Laura,Jones,M,1977-08-21,8397029847,321 Maple Dr,2022-02-07,PulseSecure,INS650929,laura.jones@mail.com
3,P004,Michael,Johnson,F,1981-02-20,9019443432,123 Elm St,2021-03-02,HealthIndia,INS789944,michael.johnson@mail.com
4,P005,David,Wilson,M,1960-06-23,7734463155,123 Elm St,2021-09-29,MedCare Plus,INS788105,david.wilson@mail.com

In [176]:
# Transformando colunas de data para o tipo datetime
pacientes["date_of_birth"] = pd.to_datetime(pacientes["date_of_birth"]) # type: ignore

pacientes["registration_date"] = pd.to_datetime(pacientes["registration_date"]) # type: ignore

# Extraindo endere√ßo dos pacientes
pacientes["number_adress"] = pacientes["address"].str.extract(r'(\d{3})') # type: ignore
pacientes["type_adress"] = pacientes["address"].str[-2:] # type: ignore
pacientes["address"] = pacientes["address"].str.replace(r'^\d{3}', '', regex=True) # type: ignore
pacientes["street"] = pacientes["address"].str.replace(r'[A-Za-z]{2}$', '', regex=True) # type: ignore
pacientes.drop(columns=["address"], inplace=True) # type: ignore

# Calculando a idade dos pacientes
pacientes["age"] = (datetime.now().year - pacientes["date_of_birth"].dt.year.head()) # type: ignore

pacientes.head() # type: ignore

,patient_id,first_name,last_name,gender,date_of_birth,contact_number,registration_date,insurance_provider,insurance_number,email,number_adress,type_adress,street,age
0,P001,David,Williams,F,1955-06-04,6939585183,2022-06-23,WellnessCorp,INS840674,david.williams@mail.com,789,Rd,Pine,70.0
1,P002,Emily,Smith,F,1984-10-12,8228188767,2022-01-15,PulseSecure,INS354079,emily.smith@mail.com,321,Dr,Maple,41.0
2,P003,Laura,Jones,M,1977-08-21,8397029847,2022-02-07,PulseSecure,INS650929,laura.jones@mail.com,321,Dr,Maple,48.0
3,P004,Michael,Johnson,F,1981-02-20,9019443432,2021-03-02,HealthIndia,INS789944,michael.johnson@mail.com,123,St,Elm,44.0
4,P005,David,Wilson,M,1960-06-23,7734463155,2021-09-29,MedCare Plus,INS788105,david.wilson@mail.com,123,St,Elm,65.0

In [7]:
display(medicos.head())

,doctor_id,first_name,last_name,specialization,phone_number,years_experience,hospital_branch,email
0,D001,David,Taylor,Dermatology,8322010158,17,Westside Clinic,dr.david.taylor@hospital.com
1,D002,Jane,Davis,Pediatrics,9004382050,24,Eastside Clinic,dr.jane.davis@hospital.com
2,D003,Jane,Smith,Pediatrics,8737740598,19,Eastside Clinic,dr.jane.smith@hospital.com
3,D004,David,Jones,Pediatrics,6594221991,28,Central Hospital,dr.david.jones@hospital.com
4,D005,Sarah,Taylor,Dermatology,9118538547,26,Central Hospital,dr.sarah.taylor@hospital.com

In [8]:
display(consultas.head())

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
0,A001,P034,D009,2023-08-09,15:15:00,Therapy,Scheduled
1,A002,P032,D004,2023-06-09,14:30:00,Therapy,No-show
2,A003,P048,D004,2023-06-28,8:00:00,Consultation,Cancelled
3,A004,P025,D006,2023-09-01,9:15:00,Consultation,Cancelled
4,A005,P040,D003,2023-07-06,12:45:00,Emergency,No-show

In [9]:
display(tratamentos.head())

,treatment_id,appointment_id,treatment_type,description,cost,treatment_date
0,T001,A001,Chemotherapy,Basic screening,3941.97,2023-08-09
1,T002,A002,MRI,Advanced protocol,4158.44,2023-06-09
2,T003,A003,MRI,Standard procedure,3731.55,2023-06-28
3,T004,A004,MRI,Basic screening,4799.86,2023-09-01
4,T005,A005,ECG,Standard procedure,582.05,2023-07-06

In [10]:
display(faturamento.head())

,bill_id,patient_id,treatment_id,bill_date,amount,payment_method,payment_status
0,B001,P034,T001,2023-08-09,3941.97,Insurance,Pending
1,B002,P032,T002,2023-06-09,4158.44,Insurance,Paid
2,B003,P048,T003,2023-06-28,3731.55,Insurance,Paid
3,B004,P025,T004,2023-09-01,4799.86,Insurance,Failed
4,B005,P040,T005,2023-07-06,582.05,Credit Card,Pending